<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896985261560-v560ahtap785kts5qtvgdpn0gsdbh8ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896985261560-v560ahtap785kts5qtvgdpn0gsdbh8ov</string>
	<key>API_KEY</key>
	<string>AIzaSyAcHvcniohuC-SZ-SKvDn3aDl8RGzRSIEc</string>
	<key>GCM_SENDER_ID</key>
	<string>896985261560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erayalparslan.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-29639</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-29639.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896985261560:ios:5208d9378f8d1ccaf4620d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-29639.firebaseio.com</string>
</dict>
</plist>